:root {
    --maincolor: #7882A4;
    --secondarycolor: #C0A080;
    --fontcolor: #EFEFEF;
    --shadowcolor: #D1D1D1;
}

body {
    width: 100%;
    height: 100%;
    line-height: 1;
    overflow-x: hidden;

}

header {
    width: 100%;
    text-align: center;
    background-color: var(--maincolor);
    color: var(--fontcolor);
    height: 6rem;
    padding-top: 2%;
    margin-bottom: 1%;
}

form {
    width: 60rem;
}

form label {
    font-size: 200%;
}

input,
button {
    margin-top: 10%;
}

.city-search {
    margin-left: 2%;
    justify-content: left;
    width: 100rem;
}

container #current-day-result {
    background-color: var(--shadowcolor);
    border-radius: 10px;
    margin: 5px;
}

span {
    width: 85%;
    padding: 2%;
}

#uv-index {
    border-radius: 10px;
    width: 25%;
    margin-bottom: 2%;
    color: var(--fontcolor);
}

#first-day,
#second-day,
#third-day,
#fourth-day,
#fifth-day {
    background-color: var(--secondarycolor);
    margin: 5px;
    border-radius: 5px;
    color: var(--fontcolor);
    font-weight: bold;
}

/* Responsive styling for screens < 998 */
@media screen and (max-width: 998px) {
    body {
        width: 100%;
    }
}

/* Responsive styling for screens < 768 */
@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

}

/* Responsive styling for screens < 567 */
@media screen and (max-width: 567px) {
    body {
        width: 100%;
    }
}