:root {
    --maincolor: #7882A4;
    --secondarycolor: #C0A080;
    --fontcolor: #EFEFEF;
    --shadowcolor: #D1D1D1;
}

body {
    width: 100%;
    line-height: 1;

}

header {
    text-align: center;
    background-color: var(--maincolor);
    color: var(--fontcolor);
    height: 6rem;
    padding-top: 2%;
    margin-bottom: 1%;
}

form label {
    font-size: 200%;
}

input,
button {
    margin-top: 10%;
}

.city-search {
    margin-left: 2%;
    justify-content: left;
}

container #current-day-result {
    background-color: var(--shadowcolor);
    border-radius: 10px;
    margin: 15px;
}

h2 {
    width: 60%;
}
span {
    width: 70%;
    margin-left: 3%;
    padding: 2%;
}

#first-day,
#second-day,
#third-day,
#fourth-day,
#fifth-day {
    background-color: var(--shadowcolor);
    margin: 10%;
}

